a { color:#245ea6; }
body { background-color: #f2f2f2; color: #333; font: 14px/20px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif; line-height: 1.8em; margin: 0 5%; text-align: center; }
h1 { font-style:italic; }
h2.hundred { font-style:italic; color:#245ea6; }
h3.covid { background-color:#cc9999; }
img.flexible { max-width: 100%; max-height: 100vh; height: auto; }
span.shead { color:#245ea6; }
table { width:100%; border:1px solid #000; border-collapse:collapse; border-spacing:0; margin-bottom:40px; }
table caption { margin:0; padding:8px 20px; background-color: #245ea6; color: #eee; text-align:center; border:1px solid #000; border-bottom:none; font-size:1.1428em; }
table thead th { background-color:#8bb5de; border-bottom:1px solid #222; font-style:bold; padding:8px 2px; }
table tbody tr th img { vertical-align: middle; }
table tbody tr.next th, table tbody tr.next td { background-color:#ffd700; }
table tbody tr.st-patrick th, table tbody tr.st-patrick td { background-color:#ff883e; }
table tbody tr.past th, table tbody tr.past td { background-color:#ddd; }
table tbody th, table tbody td { background-color:#eee; margin:0; padding:8px 2px; text-align:center; border-bottom:1px solid #222; }
